---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container">
    <p>&copy; {year} 烦恼全無先生</p>
    <div class="footer-links">
      <a href="https://github.com" target="_blank">GitHub</a>
      <a href="https://twitter.com" target="_blank">Twitter</a>
      <a href="/rss.xml">RSS</a>
    </div>
  </div>
</footer>
